#container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

h1{
    text-align: center;
    margin-bottom: 11rem;
}

button{
    border: none;
    padding: .3rem;
    width: 10rem;
    font-size:larger;
    color: darkslategrey;
    border-radius: .3rem;
}

body{
    background-color: gray;
}


.btnpositvo{
    background-color: aqua;
    color: black;
}



.btnnegativo{
    background-color: rgb(255, 0, 21);
    color: white;
}